---
import Layout from "../layouts/Layout.astro";
import BadgeSocial from "../components/BadgeSocial.astro";
import KnowledgeCard from "../components/KnowledgeCard.astro";
import SectionContainer from "../components/SectionContainer.astro";
import RepoCard from "../components/RepoCard.astro";
import { IconMapPin } from "@tabler/icons-react";
import { links } from "../data/social_links";
import { languages } from "../data/languages_links";
import { repos } from "../data/repos";

export const prerender = true;
---

<Layout title="Xafec's Portfolio">
  <main class="px-4 animate-fade-in animate-delay-200 sm:pt-20 pt-16 mb-10">
    <SectionContainer class="flex flex-col gap-2">
      <h1 class="font-black text-4xl sm:text-5xl md:text-6xl">
        Hello there, I'm Xafec.
      </h1>
      <div class="sm:flex items-center">
        <span class="text-xl sm:text-2xl font-semibold"
          >A passionate web developer and student</span
        >
      </div>
      <div class="sm:flex items-center">
        <span class="text-sm flex items-center gap-1 w-max">
          <IconMapPin width={16} />
          <span class="hidden sm:block">Moscow</span><span class="sm:hidden"
            >MSK</span
          > • GMT+3
        </span>
      </div>
    </SectionContainer>
    <SectionContainer class="mt-16">
      <div class="max-w-full text-lg sm:text-xl">
        <span class="text-xl sm:text-3xl font-semibold">Contact</span>
        <p class="text-lg text-zinc-300/80">My social media accounts.</p>
        <div class="mt-2 grid gap-3 md:grid-cols-2 w-full">
          {
            links.map((link) => (
              <BadgeSocial links={link}>
                <link.icon className="h-8 w-8 transition duration-200 text-zinc-200/75" />
              </BadgeSocial>
            ))
          }
        </div>
      </div>
    </SectionContainer>
    <SectionContainer class="mt-16">
      <div class="max-w-full text-lg sm:text-xl">
        <span class="text-xl sm:text-3xl font-semibold">Repositories</span>
        <p class="text-lg text-zinc-300/80">My Github Open Source Projects.</p>
        <div class="mt-2 grid grid-cols-1 gap-3 lg:grid-cols-2">
          {repos.map((repo) => <RepoCard repo={repo} />)}
        </div>
      </div>
    </SectionContainer>
    <SectionContainer class="mt-16">
      <div class="max-w-full text-lg sm:text-xl">
        <span class="text-xl sm:text-3xl font-semibold">
          Languages and technologies I use
        </span>
        <div class="mt-2 grid gap-2 sm:grid-cols-3 md:grid-cols-4 w-full">
          {
            languages.map((lang) => (
              <KnowledgeCard title={lang.name}>
                <lang.icon className="h-6 w-6 transition duration-200 text-zinc-200/75" />
              </KnowledgeCard>
            ))
          }
        </div>
      </div>
    </SectionContainer>
  </main>
</Layout>
