---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="px-4">
    <SectionContainer class="py-20">
      <h1
        class="-translate-x-0.5 sm:-translate-x-1 font-black w-full text-4xl lg:text-5xl xl:text-6xl"
      >
        Hi, I'm Xafec
      </h1>
    </SectionContainer>
  </main>
</Layout>
