---
import { ViewTransitions } from "astro:transitions";
import Favicon from "./Favicon.astro";
const { title } = Astro.props;
---

<title>{title}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<Favicon />

<ViewTransitions />
