---
const links = [
  {
    text: "Home",
    url: "/",
  },
  {
    text: "Projects",
    url: "/#projects",
  },
  {
    text: "Blog",
    url: "/#blog",
  },
];
---

<header class="sticky z-10 top-0 pt-4 w-full flex justify-center">
  <nav
    class="space-x-1 backdrop-blur flex items-center rounded-md bg-black/20 px-3 py-1 animate-fade-in animate-delay-100"
  >
    {
      links.map((link) => (
        <a
          class="rounded-md capitalize px-3 py-0.5 transition-all ease-in-out hover:bg-white/20"
          href={link.url}
        >
          {link.text}
        </a>
      ))
    }
  </nav>
</header>
