---
import CommonHead from "../components/CommonHead.astro";
import ScrollToTopButton from "../components/ScrollTopBtn";
import { Image } from "astro:assets";
import background from "../images/background.webp";
import "@fontsource/twinkle-star";
---

<!doctype html>
<html lang="ru">
  <head>
    <CommonHead />
  </head>
  <body
    class="relative bg-neutral-950 text-white selection:bg-purple-200/20 selection:text-gray-400 min-h-screen"
  >
    <div class="pointer-events-none absolute h-screen object-cover">
      <Image
        src={background}
        alt="background"
        class="fixed h-screen w-screen object-cover opacity-20 blur-3xl"
      />
    </div>

    <div class="relative z-10">
      <slot />
      <ScrollToTopButton client:load />
    </div>
    <style is:global>
      html {
        font-family: "Nunito", sans-serif;
      }
    </style>
  </body>
</html>
